{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "2018",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "indent": ["error", 4],
    "no-multi-spaces": ["error", {
      "exceptions": {
        "VariableDeclarator": true,
        "ImportDeclaration": true,
        "AssignmentExpression": true,
        "ClassProperty": true
      }
    }],
    "key-spacing": ["error", {
        "multiLine": {
            "beforeColon": false,
            "afterColon": true
        },
        "align": {
            // "mode": "minimum",
            "on": "value"
        }
    }],
    "no-multiple-empty-lines": [2, { "max": 2}],
    "semi": ["error", "never"],
    "one-var": ["error", {
      "const": "never",
      "var": "consecutive",
      "let": "consecutive",
      "separateRequires": true
    }],
    "linebreak-style": 0,
    "arrow-parens": ["error", "as-needed", {"requireForBlockBody": true}],
    "no-param-reassign": "warn",
    "no-console": "warn",
    "no-unused-vars": "warn",
    "padded-blocks": 0,
    "object-curly-spacing": ["error", "never"],
    "comma-dangle": ["error", "only-multiline"],
    // ES6 rules
    // These rules are only relevant to ES6 environments and are off by default.
    "no-var": 2, // require let or const instead of var (off by default)
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true, "optionalDependencies": false, "peerDependencies": false
    }],
    // ABSS Keep it simple! tip: turn off word-wrap!
    "max-depth": [1, 3], // specify the maximum depth that blocks can be nested (off by default)
    "max-len": [2, 255, 2], // specify the maximum length of a line in your program (off by default)
    "max-params": [2, 7], // limits the number of parameters that can be used in the function declaration. (off by default)
    "max-statements": 0, // specify the maximum number of statement allowed in a function (off by default)
    "no-bitwise": 0, // disallow use of bitwise operators (off by default)
  }
}
